<div class="job-list-container">
  <h2>Companies</h2>
  
  <div class="filters">
    <button (click)="filterCompanies('Remote')">Remote Jobs</button>
    <button (click)="filterCompanies('Kentucky')">Kentucky Jobs</button>
    <button (click)="filterCompanies('Hybrid')">Hybrid Jobs</button>
    <button (click)="filterCompanies(null)">All Jobs</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Job Location(s)</th>
        <th>Interview Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of filteredCompanies">
        <td>{{ company.name }}</td>
        <td>{{ company.location }}</td>
        <td>{{ company.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
