<div class="folder-list-container">
    <h2>User Folders</h2>
  
    <div class="filters">
      <!-- Dropdown to select a folder -->
      <label for="folder-select">Select Folder:</label>
      <select id="folder-select" (change)="onFolderSelect($event)">
        <option *ngFor="let folder of folders" [value]="folder.name">{{ folder.name }}</option>
      </select>
    </div>
  
    <div *ngIf="selectedFolder">
      <h3>{{ selectedFolder }}'s Jobs</h3>
      <table>
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Location</th>
            <th>Description</th>
            <th>Delete Job</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of selectedFolderJobs">
            <td>{{ job.title }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.description }}</td>
            <td><button (click)="removeJobFromFolder(job)">Delete Job</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  